.rainbow-gradient {
  background: linear-gradient(to right, rgba(255, 0, 0, 0.6), rgba(255, 153, 0, 0.6), rgba(255, 204, 0, 0.6), rgba(51, 204, 51, 0.6), rgba(51, 153, 255, 0.6), rgba(102, 51, 204, 0.6),
                                        rgba(102, 51, 204, 0.6), rgba(51, 153, 255, 0.6), rgba(51, 204, 51, 0.6), rgba(255, 204, 0, 0.6), rgba(255, 153, 0, 0.6), rgba(255, 0, 0, 0.6));
  background-size: 200% 100%;
  animation: rainbowAnimation 5s linear infinite;
}

@keyframes rainbowAnimation {
  0% {
    background-position: 100% 0;
  }
  50% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}